<!-- todo now - colokr mapa com tdos os bares cadastrados de todas as cidades -->
<!-- todo futuro - n pod ter each, só pode ter 1 principal ativa por vez -->
<!--todo now test - ver pra q serv o type -->
<!-- todo now - esse .first dev tah errado -->
<!-- todo now - n eh pra pegar o title principal, é pra pegar o title de cada pagina - em tdos -->
<%= render :partial => 'layouts/social', :locals => {:url => principal_path, :share_text => @principals.first.title, :type => 'principal'} %>
<hr/>

<section class="principal">

    <% @principals.each do |principal| %>
      <h2><%= principal.description %></h2>

      <div class="principal-links">
        <!--<a href="<%= principal_gallery_path %>">-->
          <%= image_tag principal.gallery_image.url(:thumb)%>
          <h4>Fotos</h4>
        <!--</a>-->
      </div>

      <div class="principal-links">
        <!--<a href="<%= principal_events_path %>">-->
          <%= image_tag principal.events_image.url(:thumb)%>
          <h4>Eventos</h4>
        <!--</a>-->
      </div>

      <div class="principal-links">
        <a href="<%= principal_contact_path %>">
          <%= image_tag principal.contact_image.url(:thumb)%>
          <h4>Contato</h4>
        </a>
      </div>

      <div style="display: table-caption;font-size: 14px;">
        <!-- todo now - colocar links -->
        <!-- todo futuro - colokr do g+ -->
        <%= image_tag principal.follow_fb_image.url(:thumb), :class=>"principal-links" %>
        <%= image_tag principal.follow_tw_image.url(:thumb), :class=>"principal-links", :style => "padding-top:0; padding-bottom:0;" %>
        <h4 class="principal-links" style="padding-top:5px">Siga-nos!</h4>
      </div>

      <hr/>

      <!-- todo now - mudar titulo -->
      <h4>Alguns Bares</h4>
      <% @home_bars.each_with_index do |destaque, index| %>

          <div class="principal-destaques">

            <a href="<%= home_bar_path(destaque.name)%>" alt="<%= destaque.name %>" >

              <!-- todo now - adicionar img certa na pasta - do tamanho certo pra essa pagina -->
              <% if destaque.main_image_file_size.nil? %>
                  <% if destaque.name.length >= 17 %>
                      <img src="<%= image_path "rails.png" %>" alt="<%= destaque.name %>" title="<%= destaque.name %>" />
                  <% else %>
                      <img src="<%= image_path "rails.png" %>" alt="<%= destaque.name %>" />
                  <% end %>
              <% else %>
                  <% if destaque.name.length >= 17 %>
                    <%= image_tag destaque.main_image.url(:thumb), :alt => destaque.name, :title => destaque.name %>
                  <% else %>
                      <%= image_tag destaque.main_image.url(:thumb), :alt => destaque.name %>
                  <% end %>
              <% end %>

              <h5><%= destaque.name.truncate(16) %></h5>

            </a>

          </div>

      <% end %>

      <div class="principal-destaques">
        <a href="<%= all_home_bars_path %>">
          <%= image_tag principal.all_homes_image.url(:thumb) %>
          <!-- todo now - mudar txt -->
          <h5> <%= I18n.t("principal.index.all_bars") %> </h5>
        </a>
      </div>

      <hr/>

    <% end %>

</section>