<!-- todo seb now - mudar txt - acho q pod dxar soh o titulo q jah tah da application -->
<% @title = "Principal" %>

<!-- todo futuro - n pod ter each, só pode ter 1 principal ativa por vez -->
<!--todo now test - ver pra q serv o type -->
<%= render :partial => 'layouts/social', :locals => {:url => principal_path, :share_text => @title, :type => 'principal'} %>

<section class="principal" style="display: inline-block;">

  <script type="text/javascript">
      local = new Array();
  </script>

  <div class="breadcrumb">
    <!--<%= I18n.t("breadcrumb_principal") %>-->
  </div>

  <hr/>

  <!-- todo seb now futuro - colokr icone personalizado -->
  <!-- todo seb now futuro - colokr icones agrupados -->
  <div id="map_canvas" style="height: 200px; width: 100%;margin-top: 1%;"></div>

  <hr/>

  <nav>

    <% @principal.each do |principal| %>
        <h2><%= principal.description %></h2>

        <div class="principal-links" style="margin-left: 2%;">
          <!--<a href="<%= principal_gallery_path %>">-->
          <%= image_tag principal.gallery_image.url(:thumb), :alt => I18n.t("principal.index.galley_image_name") %>
          <h4><%= I18n.t("principal.index.galley_image_name") %></h4>
          <!--</a>-->
        </div>

        <div class="principal-links">
          <!--<a href="<%= principal_events_path %>">-->
          <%= image_tag principal.events_image.url(:thumb), :alt => I18n.t("principal.index.events_image_name") %>
          <h4><%= I18n.t("principal.index.events_image_name") %></h4>
          <!--</a>-->
        </div>

        <div class="principal-links">
          <a href="<%= principal_contact_path %>">
            <%= image_tag principal.contact_image.url(:thumb), :alt => I18n.t("principal.index.contact_image_name") %>
            <h4><%= I18n.t("principal.index.contact_image_name") %></h4>
          </a>
        </div>

        <div style="display: table-caption;font-size: 14px;">
          <!-- todo fim now - colocar links -->
          <!-- todo futuro - colokr do g+ -->
          <!--todo now - colokr na traducao - siga-nos no tw e siga-nos no fb-->
          <%= image_tag principal.follow_fb_image.url(:thumb), :class=>"principal-links social", :alt => I18n.t("principal.index.follow_image_name") %>
          <%= image_tag principal.follow_tw_image.url(:thumb), :class=>"principal-links social", :style => "padding-top:0; padding-bottom:0;", :alt => I18n.t("principal.index.follow_image_name") %>
          <h4 class="principal-links" style="padding-top:5px"><%= I18n.t("principal.index.follow_image_name") %></h4>
        </div>

        <hr class="line"/>

        <!--todo now futuro - pegar nomes das categorias dinamicamente nas buscas dos estabelecimentos-->
        <h4 style="color: midnightblue;"><%= I18n.t("principal.index.title_bars") %></h4>

        <% @home_bars.each do |destaque| %>
            <% destaque_name =  destaque.name %>
            <% title =  "" %>

            <div class="principal-destaques">

              <!--todo now - arrumar chamada da rota-->
              <a href="<%= home_bar_path("Uberlandia", destaque.name)%>" alt="<%= destaque.name %>" >

                <!-- todo seb now - adicionar img certa na pasta - do tamanho certo pra essa pagina -->
                <% if destaque.logo_bar_image_file_size.nil? %>
                    <% if destaque.name.length >= 17 %>
                        <% title =  destaque_name %>
                    <% end %>
                    <img src="<%= image_path "bar0.jpg" %>" alt="<%= destaque_name %>" title="<%= title %>" />
                <% else %>
                    <% if destaque.name.length >= 17 %>
                        <% title =  destaque_name %>
                    <% end %>
                    <%= image_tag destaque.logo_bar_image.url(:thumb), :alt => destaque_name, :title => title %>
                <% end %>

                <h5><%= destaque.name.truncate(16) %></h5>

              </a>

            </div>
        <% end %>

        <div class="principal-destaques">
          <!--todo now - arrumar chamada da rota-->
          <a href="<%= category_path("Uberlandia", "Bares") %>">
            <%= image_tag principal.all_homes_image.url(:thumb)  %>
            <!-- todo seb now - mudar txt -->
            <h5> <%= I18n.t("principal.index.all_bars") %> </h5>
          </a>
        </div>

    <% end %>
  </nav>

  <% @all_active_bars.each_with_index do |active_bar, index| %>
      <!-- dados para mapa -->
      <script type="text/javascript">
//        todo now - a cada bar ativo, tenho q passar o id da cidad desse bar pra pegar a cidade dakele bar especifico
        local[<%= index %>] = '<%= active_bar.address + ", " + active_bar.number.to_s + ", " + @current_city_from_bar.name %>';
      </script>
  <% end %>

</section>