<!-- todo seb now - mudar txt - colokr nome da cidad -->
<% @title = "Categorias" %>

<%= render :partial => 'layouts/social', :locals => {:url => all_categories_path(params[:city_name]), :share_text => @title, :type => 'categories'} %>

<section class="all-categories">

  <div class="breadcrumb">
    <%= link_to I18n.t("breadcrumb_principal"), principal_path %> <span class="next" />
    <%= link_to params[:city_name], principal_path %> <span class="next" />
    <%= I18n.t("breadcrumb_categories") %>
  </div>

  <hr class="line"/>

  <% if @all_active_categories.present? %>

      <!--todo seb now - arrumar -->
      <h1><%= "Categorias de Estabelecimentos em Uberlândia" %></h1>

      <nav>
        <% @all_active_categories.each do |category| %>
            <% category_name =  category.name %>
            <% title =  "" %>

            <a href="<%= category_path(params[:city_name], category.name)%>">

              <!-- todo seb now - add img certa na pasta - do tamanho certo pra essa pagina -->
              <% if category.category_image_file_size.nil? %>
                  <% if category.name.length >= 17 %>
                      <% title =  category_name %>
                  <% end %>
                  <img src="<%= image_path "category0.jpg" %>" alt="<%= category_name %>" title="<%= title %>" />
              <% else %>
                  <% if category.name.length >= 17 %>
                      <% title =  category_name %>
                  <% end %>
                  <%= image_tag category.category_image.url(:thumb), :alt => category_name, :title => title %>
              <% end %>

              <h5><%= category.name.truncate(16) %></h5>
            </a>
        <% end %>
      </nav>

  <% end %>

</section>