<!-- todo seb now - mudar txt -->
<% @title = "Categorias" %>

<%= render :partial => 'layouts/social', :locals => {:url => all_categories_path(params[:city_name]), :share_text => @title, :type => 'categories'} %>
<hr/>

<section class="all-categories">

  <!--todo now - colokr capitalized nos caminhos q precisar-->
  <div class="breadcrumb">
    <%= link_to I18n.t("breadcrumb_principal"), principal_path %> >
    <%= link_to params[:city_name], principal_path %> >
    <%= I18n.t("breadcrumb_categories") %>
  </div>

  <hr/>

  <% if @all_active_categories.present? %>

      <!--todo now - arrumar -->
      <h1><%= "Categorias de Estabelecimentos em Uberlândia" %></h1>

      <nav>
        <% @all_active_categories.each do |category| %>
            <a href="<%= category_path(params[:city_name], category.name)%>">

              <!-- todo seb now - add img certa na pasta - do tamanho certo pra essa pagina -->
              <% if category.category_image_file_size.nil? %>
                  <% if category.name.length >= 17 %>
                      <img src="<%= image_path "category0.jpg" %>" alt="<%= category.name %>" title="<%= category.name %>" />
                  <% else %>
                      <img src="<%= image_path "category0.jpg" %>" alt="<%= category.name %>" />
                  <% end %>
              <% else %>
                  <% if category.name.length >= 17 %>
                      <%= image_tag category.category_image.url(:thumb), :alt => category.name, :title => category.name %>
                  <% else %>
                      <%= image_tag category.category_image.url(:thumb), :alt => category.name %>
                  <% end %>
              <% end %>

              <h5><%= category.name.truncate(16) %></h5>
            </a>
        <% end %>
      </nav>

  <% end %>

</section>