<!--todo now seb - acho q devia ter mapa tb - eh a pagina mais important ter mapa na vdd-->
<% if !@all_bars_from_category_and_city.nil? && !@all_bars_from_category_and_city.blank? %>

    <% @title = @current_category.name + I18n.t("category.show.title") + @current_city.name %>

    <!-- todo futuro - colokr varios tipos de ordenação para encontrar os bares - se n conseguir fazer textbox, colokr links com tipos de ordenação -->
    <!-- todo now futuro - colokr qntidad d curtir, tw e comentario o bar teve em cada um
    <!-- todo futuro - pegar qntidad d comentario e curtir e tw e colokr em: bares mais comentados, etc -->

    <%= render :partial => 'layouts/social', :locals => {:url => category_path(params[:city_name], @current_category.name), :share_text => @title, :type => 'all_categories'} %>

    <section class="category">

      <div class="breadcrumb">
        <%= link_to I18n.t("breadcrumb_principal"), principal_path %> <span class="next" />
        <%= link_to params[:city_name], home_city_path %> <span class="next" />
        <%= link_to I18n.t("breadcrumb_category"), all_categories_path(params[:city_name]) %> <span class="next" />
        <%= @current_category.name %>
      </div>

      <hr class="line"/>

      <h1><%= @current_category.name + I18n.t("category.show.title") + @current_city.name %></h1>

      <nav>
        <% @all_bars_from_category_and_city.each do |destaque| %>
            <% destaque_name =  destaque.name %>
            <% title =  "" %>

          <a href="<%= home_bar_path(params[:city_name], destaque.name) %>">

            <% if destaque.logo_bar_image_file_size.nil? %>
                <% if destaque.name.length >= 17 %>
                    <% title =  destaque_name %>
                <% end %>
                <img src="<%= image_path "bar0.jpg" %>" alt="<%= destaque_name %>" title="<%= title %>" />
            <% else %>
                <% if destaque.name.length >= 17 %>
                    <% title =  destaque_name %>
                <% end %>
                <%= image_tag destaque.logo_bar_image.url(:thumb), :alt => destaque_name, :title => title %>
            <% end %>

            <h5><%= destaque.name.truncate(16) %></h5>
          </a>
        <% end %>
      </nav>

    </section>

<% else %>
    <%= render :partial => "layouts/page_not_found_error_404" %>
<% end %>