<!-- todo now - mudar txt -->
<% @title = "Todos os Bares" %>

<!-- todo futuro - colokr varios tipos de ordenação para encontrar os bares -->
<!-- todo now futuro - colokr qntidad d curtir, tw e comentario o bar teve em cada um
<!-- todo futuro - pegar qntidad d comentario e curtir e tw e colokr em: bares mais comentados, etc -->
<!-- todo futuro - adicionar busca por tipo de estabelecimento na de homeBar-->
<!-- todo futuro - adicionar busca por cidad na de homeBar -->

<%= render :partial => 'layouts/social', :locals => {:url => principal_path, :share_text => @title, :type => 'all_home_bars'} %>
<hr/>

<section class="home-bar-all">
  <h1><%= @home_bar_category.name + I18n.t("home_bar.all.title") + @home_bar_city.name %></h1>

  <nav>
    <% @home_bars.each do |destaque| %>
      <a href="<%= home_bar_path(destaque.name) %>">

        <!-- todo now - adicionar img certa na pasta - do tamanho certo pra essa pagina -->
        <% if destaque.logo_bar_image_file_size.nil? %>
            <% if destaque.name.length >= 17 %>
                <img src="<%= image_path "bar0.jpg" %>" alt="<%= destaque.name %>" title="<%= destaque.name %>" />
            <% else %>
                <img src="<%= image_path "bar0.jpg" %>" alt="<%= destaque.name %>" />
            <% end %>
        <% else %>
            <% if destaque.name.length >= 17 %>
                <%= image_tag destaque.logo_bar_image.url(:thumb), :alt => destaque.name, :title => destaque.name %>
            <% else %>
                <%= image_tag destaque.logo_bar_image.url(:thumb), :alt => destaque.name %>
            <% end %>
        <% end %>

        <h5><%= destaque.name.truncate(16) %></h5>
      </a>
    <% end %>
  </nav>

</section>