<!-- todo futuro - colokr varios tipos de ordenação para encontrar os bares -->
<!-- todo now - colokr mapa de todos os bares cadastrados da cidad -->
<!-- todo now futuro - colokr qntidad d curtir, tw e comentario o bar teve em cada um
<!-- todo futuro - pegar qntidad d comentario e curtir e tw e colokr em: bares mais comentados, etc -->
<!-- todo futuro - colokr busca dinamica por tipo de estabelecimento -->
<!-- todo futuro - colokr txt dinamico por tipo de estabelecimento -->
<!-- todo futuro - colokr busca dinamica por cidad -->
<!-- todo futuro - colokr txt dinamico por cidad -->
<!-- todo now - mudar este titulo -->

<%= render :partial => 'layouts/social', :locals => {:url => principal_path, :share_text => @home_bars.first.name, :type => 'all_home_bars'} %>
<hr/>

<section class="home-bar-all">
  <h1><%= I18n.t("home_bar.all.title") %></h1>

  <nav>
    <% @home_bars.each do |destaque| %>
      <a href="<%= home_bar_path(destaque.name) %>">

        <!-- todo now - adicionar img certa na pasta - do tamanho certo pra essa pagina -->
        <% if destaque.logo_bar_image_file_size.nil? %>
            <% if destaque.name.length >= 17 %>
                <img src="<%= image_path "bar0.jpg" %>" alt="<%= destaque.name %>" title="<%= destaque.name %>" class="no-image" />
            <% else %>
                <img src="<%= image_path "bar0.jpg" %>" alt="<%= destaque.name %>" class="no-image" />
            <% end %>
        <% else %>
            <% if destaque.name.length >= 17 %>
                <%= image_tag destaque.logo_bar_image.url(:thumb), :alt => destaque.name, :title => destaque.name %>
            <% else %>
                <%= image_tag destaque.logo_bar_image.url(:thumb), :alt => destaque.name %>
            <% end %>
        <% end %>

        <h5><%= destaque.name.truncate(16) %></h5>
      </a>
    <% end %>
  </nav>

</section>