<!-- todo now futuro - colocar forma de voltar pra pagina anterior - talvez menu lateral ou breadcrumb em cima -->

<%= render :partial => 'layouts/social', :locals => {:url => home_bar_path(@home_bar.name), :share_text => @home_bar.name, :type => 'home_bar'} %>
<hr/>

<section class="home-bar">

  <% if @home_bar.address.present? %>

      <h1><%= @home_bar.name %></h1>

      <!-- todo now - adicionar img certa na pasta - do tamanho certo pra essa pagina -->
      <% if @home_bar.main_image_file_size.nil? %>
          <img src="<%= image_path "rails.png" %>" style="float:left" />
      <% else %>
          <%= image_tag @home_bar.main_image.url(:home), :style => "float:left" %>
      <% end %>

      <!-- todo now - img fixa deve ser substituida pelo mapa de onde é o bar -->
      <%= image_tag "mapa.jpg", :style => "margin-left: 200px; margin-top: 84px;" %>

      <h2><%= @home_bar.description %></h2>

      <!-- todo now - arrumar  css -->
      <div class="address">
          <h3>
            <%= @home_bar.address + ", " %>
            <%= if @home_bar.number != 0
                    @home_bar.number
                else
                    "s/n"
                end %>
                - <%= @home_bar.neighborhood %>
                <%= " - " + @home_bar.complement if !@home_bar.complement.blank? %>
          </h3>
          <h4>
            <%= @home_bar.city %>
            - <%= @home_bar.state %>
            - <%= @home_bar.country_bar %>
            <%= "- CEP: " + @home_bar.zip if !@home_bar.zip.blank? %>
          </h4>
          <h5>
            <% if !@home_bar.phone_number.blank? %>
                <!-- todo futuro - ver se no mobile dah pra fazer a pessoa jah clicar pra ligar -->
                Telefone: <%= @home_bar.phone_number %>
                <%= ", " + @home_bar.cellphone_number if !@home_bar.cellphone_number.blank? %>
            <% end %>
          </h5>
      </div>

      <hr/>

      <!-- todo now futuro - colocar recomendações -->
      <br /><br />
      <!-- todo now - colokr da cor da logo -->
      <div class="comments">
          <h6>Deixe seu comentário sobre este estabelecimento!</h6>
          <div class="fb-comments" data-href="<%= home_bar_path(@home_bar.name) %>" data-numposts="5"></div>
      </div>

  <% else %>

    <!-- todo now - colokr pagina d bar n encontrado ou d endereço n encontrado -->

  <% end %>

</section>