<!-- todo now - mudar txt -->
<% @title = @home_bar.name %>


<!-- todo now futuro - colocar forma de voltar pra pagina anterior - talvez menu lateral ou breadcrumb em cima -->

<%= render :partial => 'layouts/social', :locals => {:url => home_bar_path(@home_bar.name), :share_text => @title, :type => 'home_bar'} %>
<hr/>

<section class="home-bar">

  <% if @home_bar.address.present? %>

      <h1><%= @home_bar.name %></h1>

      <!-- todo now - adicionar img certa na pasta - do tamanho certo pra essa pagina -->
      <% if @home_bar.logo_bar_image_file_size.nil? %>
          <img src="<%= image_path "bar0.jpg" %>" style="float:left;width: 400px;height: 300px;margin-right: 7%;" alt="<%= @home_bar.name %>" />
      <% else %>
          <%= image_tag @home_bar.logo_bar_image.url(:home), :style => "float:left;margin-right: 7%;", :alt => @home_bar.name %>
      <% end %>

      <div id="map_canvas" style="height: 300px; width: 449px;margin-top: 3%;" class="map"></div>

      <h2><%= @home_bar.description %></h2>

      <!-- todo now - arrumar  css -->
      <div class="address">
          <h3>
            <%= @home_bar.address + ", " %>
            <%= if @home_bar.number != 0
                    @home_bar.number
                else
                    "s/n"
                end %>
                - <%= @home_bar.neighborhood %>
                <%= " - " + @home_bar.complement if !@home_bar.complement.blank? %>
          </h3>
          <h4>
            <%= @home_bar_city.name %>
            - <%= @home_bar_state.name %>
            - <%= @home_bar_country.name %>
            <%= "- " + I18n.t("home_bar.index.zip") + @home_bar.zip if !@home_bar.zip.blank? %>
          </h4>
          <h5>
            <% if !@home_bar.phone_number.blank? %>
                <!-- todo futuro - ver se no mobile dah pra fazer a pessoa jah clicar pra ligar -->
                <!-- todo now - decidir forma d cadastrar tels e mostrar aqui -->
                <%= I18n.t("home_bar.index.phone") + @home_bar.phone_number %>
                <%= ", " + @home_bar.cellphone_number if !@home_bar.cellphone_number.blank? %>
            <% end %>
          </h5>
      </div>

      <hr/>

      <!-- todo now futuro - colocar recomendações -->
      <br /><br />
      <!-- todo now - colokr da cor da logo -->
      <div class="comments">
          <h6><%= I18n.t("home_bar.index.fb-comments") + @home_bar.name + "!" %></h6>
          <div class="fb-comments" data-href="<%= home_bar_path(@home_bar.name) %>" data-numposts="5"></div>
      </div>

      <!-- dados para mapa -->
      <script type="text/javascript">
          local = new Array();
          local[0] = '<%= @home_bar.address + ", " + @home_bar.number.to_s + ", " + @home_bar_city.name %>';
      </script>

  <% else %>

      <!-- todo futuro - devia enviar email, msg, whatever pra alguem, pq isso nunk dev acontecer, jah q endereço é campo obrigatório no banco -->
      <%= render :layout => "_page_not_found_error_404" %>

  <% end %>

</section>