<% @title = @current_bar.name %>

<%= render :partial => 'layouts/social', :locals => {:url => home_bar_path(params[:city_name], @current_bar.name), :share_text => @title, :type => 'home_bar'} %>

<section class="home-bar">

  <div class="breadcrumb">
    <%= link_to I18n.t("breadcrumb_principal"), principal_path %> <span class="next" />
    <%= link_to params[:city_name], principal_path %> <span class="next" />
    <%= link_to I18n.t("breadcrumb_category"), all_categories_path(params[:city_name]) %> <span class="next" />
    <%= link_to @current_category_by_id.name, category_path(params[:city_name], @current_category_by_id.name) %> <span class="next" />
    <%= @current_bar.name %>
  </div>

  <hr class="line"/>

  <!--todo now - ver se dah pra melhorar validacao-->
      <% if @current_bar.address.present? and @current_bar.status_id == Status.active.first[:id] %>

          <h1><%= @current_bar.name %></h1>

          <div class="info-bar">
              <!-- todo seb now - adicionar img certa na pasta - do tamanho certo pra essa pagina -->
              <% if @current_bar.logo_bar_image_file_size.nil? %>
                  <img src="<%= image_path "bar0.jpg" %>" style="float:left;width: 400px;height: 300px;margin-right: 7%;" alt="<%= @current_bar.name %>" />
              <% else %>
                  <%= image_tag @current_bar.logo_bar_image.url(:home), :style => "float:left;margin-right: 7%;", :alt => @current_bar.name %>
              <% end %>

            <% if !@current_bar.description.blank? %>
              <h2><%= @current_bar.description %></h2>
            <% end %>

          </div>

          <div class="map-bar">
              <div id="map_canvas"></div>

              <div class="address">
                  <h3>
                    <!--todo now - ver se tem como tirar todos os comentarios pra colokr em producao-->
                    <!--info - com strip! n pod ter numero no campo-->
                    <%= @current_bar.address.strip + ", " %>
                    <%= if @current_bar.number != 0
                            @current_bar.number
                        else
                            "s/n"
                        end %>
                        - <%= @current_bar.neighborhood.strip %>
                        <%= " - " + @current_bar.complement.strip if !@current_bar.complement.blank? %>
                  </h3>
                  <h4>
                    <%= @current_city.name %>
                    - <%= @current_state.iso %>
                    - <%= @current_country.name %>
                    <%= "- " + I18n.t("home_bar.index.zip") + @current_bar.zip if !@current_bar.zip.blank? %>
                  </h4>
                  <h5>
                    <% if !@current_bar.phone_number.blank? %>
                        <!-- todo futuro - ver se no mobile dah pra fazer a pessoa jah clicar pra ligar -->
                        <%= I18n.t("home_bar.index.phone") + @current_bar.phone_number %><%= ", " + @current_bar.cellphone_number if !@current_bar.cellphone_number.blank? %>
                    <% end %>
                  </h5>
              </div>

          </div>

          <hr class="line" style="margin-top: 3.5%;" />

          <!-- todo fim now futuro - colocar recomendações -->
          <br />
          <div class="comments">
              <h6><%= I18n.t("home_bar.index.fb-comments") + @current_bar.name + "!" %></h6>
              <div class="fb-comments" data-href="<%= home_bar_path(params[:city_name], @current_bar.name) %>" data-numposts="5"></div>
          </div>

          <!-- dados para mapa -->
          <script type="text/javascript">
              local = new Array();
              local[0] = '<%= @current_bar.address + ", " + @current_bar.number.to_s + ", " + @current_city.name %>';
          </script>

      <% else %>
          <% ContactMailer.alert_when_error_should_never_happen("Exibindo estabelecimento mesmo sem ter endereço cadastrado OU estabelecimento estando inativo").deliver %>
          <%= render :partial => "layouts/page_not_found_error_404" %>
      <% end %>

</section>