<!-- todo seb now - mudar txt -->
<% @title = "Contato" %>

<!--todo now futuro - colokr pra essas informacoes aparecerem em cima da tela na pagina inicial - fancybox -->
<section class="contact" >

  <div class="breadcrumb">
    <%= link_to I18n.t("breadcrumb_principal"), principal_path %> <span class="next" />
    <%= I18n.t("breadcrumb_contact") %>
  </div>

  <hr/>

  <%= flash_messages %>

  <!--todo now - colokr palavras no arquivo d traducoes-->
  <div class="contact-text">
    Tem alguma sugestão?
    <br /><br />

    Quer ter seu próprio site?
    <br /><br />

    Entre em contato conosco!
  </div>

  <div class="contact-form">
      <%= form_for @contact do |f| %>
          <div style="margin-top: 4%;">
            <%= f.label I18n.t("contacts.form.name") %><br />
            <%= f.text_field :name, :required => true %>
          </div>
          <div>
            <%= f.label I18n.t("contacts.form.email") %><br />
            <%= f.text_field :email, :required => true %>
          </div>
          <div>
            <%= f.label I18n.t("contacts.form.subject") %><br />
            <%= f.select :subject, options_for_select(['Sugestão', 'Crítica', 'Elogio', 'Outro']) %><br />
          </div>
          <div>
            <%= f.label I18n.t("contacts.form.message") %><br />
            <!--todo now - colokr quantidad minima d caracteres-->
            <%= f.text_area :message, :required => true, :maxlength => 400, :style => "resize:none" %>
          </div>
          <div style="text-align: right;">
            <%= f.submit value = I18n.t("contacts.form.submit") %>
          </div>
      <% end %>
  </div>

</section>

<!-- todo futuro - criar formulario com dados necessarios pra cadastrar o bar e jah colocar pra pessoa cadastrar -->
<!-- qnto mais dados vc colocar, mais rapido o cadastro é efetuado -->
<!-- todo futuro - talvez criar cadastro de usuario pra relacionar com bar pra sabr kem mandou cada bar e talvez colokr nome da pessoa na pagina -->