<!DOCTYPE html>
<html>
    <head>
      <!-- todo seb now - em tdas colokr nome da pagina, tipo: narua.com - principal -->
      <title><%= @title %></title>

      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>

      <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

      <!-- Google Maps -->
      <!-- Maps API Javascript -->
      <!-- todo futuro - colokr key -->
      <!-- todo seb now - fazer chamada assincrona -->
      <script src="http://maps.googleapis.com/maps/api/js?key=&sensor=false"></script>

      <!--todo fim now - ver se n é melhor importar arquivo pro proj-->
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
      <!-- funcionou - https -->
      <!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>-->

    </head>

    <body>
        <!-- Maps -->
        <script type="text/javascript">
            var local;

            $(document).ready(function () {
                //verifica se paǵina contém mapa - para saber é necessário executar essa função
                if($(map_canvas).length > 0){
                    initialize();
                }
                if(local != null)
                {
                    for(var i=0;i<local.length;i++){
                        carregarNoMapa(local[i]);
                    }
                }
            });
        </script>

        <!-- facebook -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>


        <!--<div id="fb-root"></div>-->
        <script>(function(d, s, id) {
//            var js, fjs = d.getElementsByTagName(s)[0];
//            if (d.getElementById(id)) return;
//            js = d.createElement(s); js.id = id;
//            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=233458663431209&version=v2.0";
//            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <!-- twitter -->
        <script>
            !function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");
        </script>

        <!-- google +1 -->
        <script type="text/javascript">
            (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script>

        <div class="header-body">
            <!--<= render :partial => "layouts/header", :locals => {:bars => get_bars} %>-->
            <%= render :partial => "layouts/header", :locals => {:@principal => get_principal} %>
            <%= yield %>
        </div>

        <%= render :partial => "layouts/footer" %>

    </body>
</html>